@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Light.ttf);
  font-weight: 300;
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-left: 42px;
}

.header-nav .nav-bar .nav-item:first-child {
  margin-left: 0;
}

.header-nav .nav-bar .nav-item::after {
  margin: 0 auto;
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item:hover .nav-link {
  font-weight: 500;
}

.header-nav .nav-bar .nav-item .nav-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #2b2b2b;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

@media only screen and (max-width: 1199px) {
  .header-nav .nav-bar .nav-item {
    margin-left: 30px;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .header-nav .toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
  }
  .header-nav .toggler-icon div {
    width: 40px;
    height: 4px;
    border-radius: 40px;
    background: #000;
    margin-top: 7px;
    -webkit-transition: all, 0.7s;
    transition: all, 0.7s;
  }
  .header-nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-nav .toggler-icon_close div {
    width: 40px;
    height: 4px;
    background: #000;
    margin-top: 7px;
  }
  .header-nav .toggler-icon_close div:first-child {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
  }
  .header-nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .header-nav .nav-bar .nav-item {
    margin: 0 auto;
    margin-top: 36px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header-nav .nav-bar .nav-item:hover::after {
    width: 0;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-family: Acrom;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  .header-nav .nav-bar .nav-item .nav-link:hover {
    color: #000;
  }
}

.nav-bar_show {
  display: block !important;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 130px;
  background: #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 2.9%;
  padding-right: 2.1%;
}

.header-logo {
  margin-top: 25px;
}

.header-logo img {
  width: 170px;
}

.header-user {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-user div img {
  cursor: pointer;
}

.header-user__block {
  margin: 0 20px;
}

.header-user__cart {
  position: relative;
}

.header-user__cart .cart-counter {
  position: absolute;
  left: 75%;
  top: -20%;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: #cb8d53;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-user__cart .cart-counter__amount {
  font-size: 10px;
  font-weight: 300;
  color: #fff;
}

.header_fixed {
  height: 104px;
}

@media only screen and (max-width: 1199px) {
  .header {
    height: 110px;
  }
  .header-logo {
    margin-top: 12px;
  }
  .header-logo img {
    width: 130px;
  }
  .header-user {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-user div img {
    cursor: pointer;
  }
  .header-user__block {
    margin: 0 20px;
  }
  .header-user__cart {
    position: relative;
  }
  .header-user__cart .cart-counter {
    position: absolute;
    left: 75%;
    top: -20%;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: #cb8d53;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header-user__cart .cart-counter__amount {
    font-size: 10px;
    font-weight: 300;
    color: #fff;
  }
}
