// to compile...

$darkLime: #cb8d53;

@import "./_components/_open-sans.scss";
@import "./_components/_nav-bar.scss";
@import "./_components/nice-select.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: OpenSans, Arial sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  height: 130px;
  background: #fff;
  z-index: 100;
  -webkit-transition: all, .5s;
  transition: all, .5s;
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.9%;

  &-logo {
    margin-top: 25px;

    img {
      width: 170px;
    }
  }

  &-user {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    div {
      img {
        cursor: pointer;
      }
    }

    &__block {
      margin: 0 20px;
    }

    &__cart {
      position: relative;

      .cart-counter {
        position: absolute;
        left: 75%;
        top: -20%;
        width: 18px;
        height: 18px;
        border-radius: 18px;
        background: $darkLime;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        &__amount {
          font-size: 10px;
          font-weight: 300;
          color: #fff;
        }
      }
    }
  }
}

.header_fixed {
  height: 130px * 0.8;
}

@media only screen and (max-width : 1199px) {
  .header {
    height: 110px;

    &-logo {
      margin-top: 12px;

      img {
        width: 130px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    height: 100px;

    &-logo {
      margin-left: 10px;
    }

    &-user {
      &__cart {
        margin-right: 15px;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .header {
    height: 75px;

    &-logo {
      margin-top: 15px;

      img {
        width: 80px;
      }
    }

    &-user {
      &__block {
        margin: 0 15px;
      }
    }
  }
}

.banner {
  margin-top: 130px;
  width: 100%;
  padding: 64px 0;
  background: url(../img/banner.jpg) no-repeat center / cover;

  &-block {
    padding: 40px 15px 36px 15px;
    background: rgba(0, 0, 0, 0.7);
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    * {
      text-align: center;
    }

    h1 {
      margin: 0;
      font-size: 60px;
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;

      span {
        color: $darkLime;
      }
    }

    p {
      margin: 0;
      font-size: 24px;
      font-weight: 300;
      color: #fffefe;
      margin-top: 20px;
      margin-bottom: 35px;
    }

    button {
      padding: 15px 60px;
      background: transparent;
      border: 2px solid #fff;
      border-radius: 5px;
      color: #fffefe;
      font-size: 14px;
      font-weight: 300;
      outline: none;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: all, .5s;
      transition: all, .5s;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .banner {
    margin-top: 110px;
    padding: 60px 0;
  }
}

@media only screen and (max-width : 991px) {
  .banner {
    margin-top: 100px;
    padding: 50px 0;

    &-block {
      padding: 35px 15px 30px 15px;

      h1 {
        font-size: 54px;
      }

      p {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .banner {
    padding: 40px 0;

    &-block {
      padding: 30px 15px 30px 15px;

      h1 {
        font-size: 44px;
      }

      p {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 25px;
      }

      button {
        padding: 15px 45px;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .banner {
    margin-top: 75px;
    padding: 40px 0;

    &-block {
      padding: 30px;

      h1 {
        font-size: 34px;
      }

      p {
        font-size: 14px;
      }

      button {
        padding: 10px 25px;
      }
    }
  }
}

.catalog {
  font-size: 14px;
  font-weight: 300;
  color: #606060;
  margin-top: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;

  a {
    margin: 0 18px;
    text-decoration: none;
    color: #606060;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      color: $darkLime;
    }
  }
}

.main-content {
  &__sidebar {
    padding-left: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .categories {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      &:first-child {
        margin-top: 68px;
      }

      &:last-child {
        margin-top: 36px;
      }

      &__ttl {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        h4 {
          font-size: 18px;
          font-weight: 300;
          color: #222222;
          margin: 0;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        div {
          width: 30px;
          height: 3px;
          background: $darkLime;
        }
      }

      .accordion {
        padding: 12px 0;
        margin-top: 18px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #d9d9d9;
        text-align: left;
        outline: none;
        font-size: 14px;
        font-weight: 300;
        color: #222222;
        text-transform: uppercase;
        cursor: pointer;

        &::after {
          content: '\02795'; /* Unicode character for "plus" sign (+) */
          font-size: 14px;
          font-weight: 400;
          color: #333;
          float: right;
          margin-left: 5px;
        }
      }

      .accordion_active {
        &::after {
          content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
      }

      .panel {
        margin: 0;
        padding: 0;
        height: 0;
        overflow: hidden;
        -webkit-transition: all, .5s;
        transition: all, .5s;

        li {
          list-style: none;
          font-size: 14px;
          font-weight: 300;
          color: #606060;
          margin-top: 15px;

          &:last-child {
            margin-bottom: 30px;
          }
        }
      }

      .panel_active {
        height: auto;
      }
    }
  }

  &__catalog {
    padding-right: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .sort-select {
      margin: 0;
      padding: 0;
      width: 176px;
      padding-left: 17px;
      border-radius: 0;
      height: 35px;
      background: #eee;
      border: none;
      font-size: 14px;
      font-weight: 300;
      color: #333;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      &::after {
        border-bottom: 1px solid #333;
        border-right: 1px solid #333;
        height: 7px;
        width: 7px;
        margin-right: 10px;
      }

      .option {
        color: #333;
        background: #fff;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;

        &:hover {
          color: #4ab5e3;
          background-color: #eee;
        }
      }

      .list {
        background: #fff;
        width: 100%;
        border-radius: 0;
      }
    }
  }
}

.price-slider {

  &__inputs {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;

    input {
      max-width: 48px;
      max-height: 25px;
      padding: 7px 10px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 12px;
      font-weight: 300;
      color: #333;
      border: none;
      outline: none;
      background: #eee;
    }

    img {
      margin-left: 7px;
      margin-right: 5px;
      height: 7px;
    }
  }
}

#price {
	width: 235px;
  margin-top: 45px;
}

.ui-slider {
	position: relative;

  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    background: #fff;
    border: 6px solid $darkLime;
    cursor: pointer;
    outline: none;
  }

  .ui-slider-range {
  	position: absolute;
  	z-index: 1;
  	font-size: .7em;
  	display: block;
  	border: 0;
  	overflow: hidden;
  }

  &-horizontal {
    height: 6px;

    .ui-slider-handle {
      top: -150%;
    	margin-left: -6px;
    }

    .ui-slider-range {
    	top: 0;
    	height: 100%;

      &-min {
        left: 0;
      }

      &-max {
        right: 0;
      }
    }
  }
}

.ui-widget-content {
	border: 1px solid #eeeeee;
	background: #eeeeee;
}

.ui-widget-header {
	border: 1px solid $darkLime;
	background: $darkLime;
}

.ui-corner-all {
	border-radius: 0px;
}

.products {
  margin-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  margin: 15px;
  width: 260px;
  height: 410px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  img {
    width: 100%;
  }

  &__discr {
    width: 100%;
    margin-top: 14px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    div:first-child {
      width: 75%;
    }
  }

  &__ttl {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #606060;
  }

  &__price {
    font-size: 14px;
    font-weight: 300;
    color: $darkLime;
  }

  &__cart {
    width: 52px;
    height: 52px;
    border-radius: 52px;
    background: $darkLime;
    cursor: pointer;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    img {
      width: 25px;
    }
  }
}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
