// to compile...

$darkLime: #cb8d53;

@import "./_components/_open-sans.scss";
@import "./_components/_nav-bar.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: OpenSans, Arial sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  height: 130px;
  background: #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.9%;

  &-logo {
    margin-top: 25px;

    img {
      width: 170px;
    }
  }

  &-user {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    div {
      img {
        cursor: pointer;
      }
    }

    &__block {
      margin: 0 20px;
    }

    &__cart {
      position: relative;

      .cart-counter {
        position: absolute;
        left: 75%;
        top: -20%;
        width: 18px;
        height: 18px;
        border-radius: 18px;
        background: $darkLime;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        &__amount {
          font-size: 10px;
          font-weight: 300;
          color: #fff;
        }
      }
    }
  }
}

.header_fixed {
  height: 130px * 0.8;
}

@media only screen and (max-width : 1199px) {
  .header {
    height: 110px;

    &-logo {
      margin-top: 12px;

      img {
        width: 130px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    height: 100px;

    &-logo {
      margin-left: 10px;
    }

    &-user {
      &__cart {
        margin-right: 15px;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .header {
    height: 75px;

    &-logo {
      margin-top: 15px;

      img {
        width: 80px;
      }
    }

    &-user {
      &__block {
        margin: 0 15px;
      }
    }
  }
}

.banner {
  margin-top: 130px;
  width: 100%;
  padding: 64px 0;
  background: url(../img/banner.jpg) no-repeat center / cover;

  &-block {
    padding: 40px 15px 36px 15px;
    background: rgba(0, 0, 0, 0.7);
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    * {
      text-align: center;
    }

    h1 {
      margin: 0;
      font-size: 60px;
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;

      span {
        color: $darkLime;
      }
    }

    p {
      margin: 0;
      font-size: 24px;
      font-weight: 300;
      color: #fffefe;
      margin-top: 20px;
      margin-bottom: 35px;
    }

    button {
      padding: 15px 60px;
      background: transparent;
      border: 2px solid #fff;
      border-radius: 5px;
      color: #fffefe;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: all, .5s;
      transition: all, .5s;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .banner {
    margin-top: 110px;
    padding: 60px 0;
  }
}

@media only screen and (max-width : 991px) {
  .banner {
    margin-top: 100px;
    padding: 50px 0;

    &-block {
      padding: 35px 15px 30px 15px;

      h1 {
        font-size: 54px;
      }

      p {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .banner {
    padding: 40px 0;

    &-block {
      padding: 30px 15px 30px 15px;

      h1 {
        font-size: 44px;
      }

      p {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 25px;
      }

      button {
        padding: 15px 45px;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .banner {
    margin-top: 75px;
    padding: 40px 0;

    &-block {
      padding: 30px;

      h1 {
        font-size: 34px;
      }

      p {
        font-size: 14px;
      }

      button {
        padding: 10px 25px;
      }
    }
  }
}

.catalog {
  font-size: 14px;
  font-weight: 300;
  color: #606060;
  margin-top: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;

  a {
    margin: 0 18px;
    text-decoration: none;
    color: #606060;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      color: $darkLime;
    }
  }
}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
