// to compile...

@import "./_components/_open-sans.scss";
@import "./_components/_nav-bar.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  height: 130px;
  background: #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2.9%;
  padding-right: 2.1%;

  &-logo {
    margin-top: 25px;

    img {
      width: 170px;
    }
  }

  &-user {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    div {
      img {
        cursor: pointer;
      }
    }

    &__block {
      margin: 0 20px;
    }

    &__cart {
      position: relative;

      .cart-counter {
        position: absolute;
        left: 75%;
        top: -20%;
        width: 18px;
        height: 18px;
        border-radius: 18px;
        background: #cb8d53;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        &__amount {
          font-size: 10px;
          font-weight: 300;
          color: #fff;
        }
      }
    }
  }
}

.header_fixed {
  height: 130px * 0.8;
}

@media only screen and (max-width : 1199px) {
  .header {
    height: 110px;

    &-logo {
      margin-top: 12px;

      img {
        width: 130px;
      }
    }

    &-user {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      div {
        img {
          cursor: pointer;
        }
      }

      &__block {
        margin: 0 20px;
      }

      &__cart {
        position: relative;

        .cart-counter {
          position: absolute;
          left: 75%;
          top: -20%;
          width: 18px;
          height: 18px;
          border-radius: 18px;
          background: #cb8d53;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;

          &__amount {
            font-size: 10px;
            font-weight: 300;
            color: #fff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
