.header-nav {
  .toggler-icon {
    display: none;
  }

  .nav-bar {
    margin: 0;
    padding: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .nav-item {
      position: relative;
      list-style: none;
      margin-left: 42px;


      &:first-child {
        margin-left: 0;
      }

      &::after {
        //position: absolute;
        margin: 0 auto;
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #000;
        -webkit-transition: all, .3s;
        transition: all, .3s;
      }

      &:hover {
        &::after {
          width: 100%;
        }

        .nav-link {
          font-weight: 500;
        }
      }

      .nav-link {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        color: #2b2b2b;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header-nav {
    .nav-bar {
      .nav-item {
        margin-left: 30px;

        .nav-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .header-nav {
    .toggler-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      cursor: pointer;

      div {
        width: 40px;
        height: 4px;
        border-radius: 40px;
        background: #000;
        margin-top: 7px;
        -webkit-transition: all, 0.7s;
        transition: all, 0.7s;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .toggler-icon_close {
      div {
        width: 40px;
        height: 4px;
        background: #000;
        margin-top: 7px;

        &:first-child {
          margin-top: 0;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          z-index: 1;
        }

        &:nth-child(2) {
          margin-top: -3px;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }

        &:last-child {
          display: none;
        }
      }
    }

    .nav-bar {
      display: none;
      position: absolute;
      top: 90%;
      background: #f4f5f5;
      left: 0;
      width: 100%;
      z-index: 10;

      .nav-item {
        margin: 0 auto !important;
        margin-top: 35px !important;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        &:last-child {
          margin-bottom: 35px !important;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }

        .nav-link {
          font-size: 16px;
          font-weight: 300;
          color: #2b2b2b;
          text-align: center;
          text-transform: uppercase;
          -webkit-transition: all, .3s;
          transition: all, .3s;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 500px) {
  .header-nav {
    .toggler-icon {
      div {
        width: 30px;
        height: 3px;
        margin-top: 5px;
      }
    }

    .toggler-icon_close {
      div {
        width: 30px;
        height: 3px;
        background: #000;
        margin-top: 5px;

        &:first-child {
          margin-top: 0;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          z-index: 1;
        }

        &:nth-child(2) {
          margin-top: -2.5px;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }
      }
    }
  }
}
